html, body {
    height: 100%;
    margin:0;
    padding:0;
}

body {
    font-family: 'Open Sans';
    height: 100%;
    background-color: grey;
    margin: 0;
    padding: 0;
}
.listMessage {
    list-style: none;
    width: 90%;

}

li, ul {
    padding: 2px;
    margin: auto;
}
.header {
    background-color: lightgreen;
    color: white;
    padding: 0.5em;
    border-radius: 4px;
    font-size: 3em;
    text-align: center;
}

.chatContainer {
    height: 100%;
    position: relative;
}


.sectionActions {
    height: 7%;
    width: 70%;
    margin: auto;
    position: relative;
}

.buttonActions  {
    background-color: darkgrey;
    color: white;
    border-radius: 8px;
    width: 60px;
    height: 30px;
    float: right;
    font-size: 0.8em;
}


.sectionHistory {
    height: 60%;
    width: 70%;
    overflow-y: scroll;
    border:5px solid dimgrey;
    border-radius: 4px;
    margin: auto;
}


.outputName {
    color: white;
    font-style: normal;
    font-size: medium;
    text-align: left;
    word-wrap: break-word;
}

.buttonOk {
    background-color: darkgrey;
    color: white;
    border-radius: 8px;
    width: 60px;
    height: 30px;
    font-size: 0.8em;
}

.buttonSend {
    background-color: darkgrey;
    color: white;
    border-radius: 8px;
    width: 60px;
    height: 30px;
    font-size: 0.8em;
}


.sectionAddMessage {
    height: 10%;
    width: 70%;
    margin: auto;
}

 .inputMessage {
    width: 60%;
    padding: 1px;
    border-radius: 4px;
    border:3px solid lightgreen;
    word-wrap: break-word;
}

.inputName {
    padding: 1px;
    border-radius: 4px;
    border:3px solid lightgreen;
}

.inputNewMessage {
    border:3px solid lightgreen;
    margin:15px auto;
}

.overlay {
    visibility: hidden;
    position: fixed;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.overlay div {
    width:200px;
    margin: 150px auto;
    background: darkgrey center;
    border:2px solid lightgreen;
    padding:15px;
    text-align:center;
    border-radius: 4px;
}

footer {
    height: 5%;
    font-size: 1em;
    color: white;
}

.errorIcon {
    visibility: hidden;
}

.editIcon {
    visibility: hidden;
}

.deleteIcon {
    visibility: hidden;
}