body {
    background-color: grey;
}

.welcomePageBody {
    margin: auto;
    width: 40%;
    border-radius: 2px;
    border:3px solid lightgreen;
    padding: 10px;
    font-family: 'Open Sans';
}

.userForm {
    margin: auto;
    width: 40%;
    padding: 10px;
}

.inputLoginPassword {
    border-radius: 4px;
    border:3px solid lightgreen;
}

.buttonSubmit {
    background-color: darkgrey;
    color: white;
    border-radius: 8px;
    width: 60px;
    height: 30px;
    font-size: 0.8em;
}